.git
.github
.idea
node_modules
vendor
bootstrap/cache/*
!bootstrap/cache/.gitignore
storage/app/*
!storage/app/.gitignore
!storage/app/public
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore
*.log
.phpunit.result.cache
.env
.env.backup
.env.prod
american-english-huge
desktop.ini
php_errors.log
