body
    font-family: "Lucida Console"
    font-size: 12px
    border-left: 2px dashed orange
    padding-left: 10px
    height: 100%
    width: 95%
    //background-color #fffee9

.container
    width: 100%
    height: 100%
    border-bottom: 1px dashed red
    display: block

.list-item-container
    border-bottom: 1px dashed lightblue
    padding: 4px
    display: box
    min-height: 10px
    :hover
        background-color: #ffa500
        color: whitesmoke
        cursor: pointer

.list-key
    font-family: "consolas"
    font-size: 11px
    width: 5%
    display: inline
    text-align: right
    border-right: 2px dashed seagreen
    padding-right: 8px
    margin-right: 1px
    float: left
    :hover
        background-color: rebeccapurple

.list-item
    font-family: "consolas"
    font-size: 11px
    display: inline
    padding-left: 8px
    margin: 0px
    width: 90%
    :hover
        background-color: #7dffae

.links
    padding-top: 10px

a
a:visited
    text-decoration none

a:hover
    border-bottom: 3px dotted red

.blinking-red
    animation: blinkingRed 0.3s infinite;

    @keyframes blinkingRed {
        0% {
            color: red;
        }
        50% {
            color: transparent;
        }
        100% {
            color: red;
        }
    }

.blinking-green
    animation: blinkingGreen 1.3s infinite;

@keyframes blinkingGreen {
    0% {
        color: green;
    }
    50% {
        color: #955ae7;
    }
    100% {
        color: greenyellow;
    }
}

.blinking-orange
    animation: blinkingOrange 1.8s infinite;

@keyframes blinkingOrange {
    0% {
        color: green;
    }
    50% {
        color: orange;
    }
    100% {
        color: red;
    }
}
