body {
  font-family: "Lucida Console";
  font-size: 12px;
  border-left: 2px dashed #ffa500;
  padding-left: 10px;
  height: 100%;
  width: 95%;
}
.container {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #f00;
}
