body
    font-family "Lucida Console"
    font-size 12px
    border-left 8px dashed orange
    padding-left 10px
    height 100%
    width 98%

.content-container
    box-shadow 0 0px 0px #2abaff, 0 0px 32px 0 #e9e7ea
    padding-top 5px
    padding-bottom 5px
    padding-left 15px
    background-color #fefff5

button, input, textarea
    box-shadow 0 4px 10px 0 #68ff2a, 0 0px 0px 0 #ff0081
    font-family lucida console
    background-color white
    cursor pointer
    border 2px dashed darkorange

    &hover
        background-color yellowgreen
        border 2px dashed red

blockquote
    border-left 3px solid blueviolet
    margin-left 0px
    padding-left 3px

ul
    list-style-type circle

.container
    width 100%
    height 100%
    display block

.list-item-container
    border-bottom 1px dashed lightblue
    padding 4px
    display box
    min-height 10px

.marginleft
    margin 12px

.smallcaps
    font-variant small-caps
    font-family consolas
    font-size 17px

.super-small
    font-size 4px
    font-family "Lucida Console"
    font-variant small-caps

.topheadmargin
    margin-top 10px
    padding-top 12px

.interestlink
    font-size 12px
    font-family lucida console

.select-doc-future
    padding-left 15px
    margin-left 0px

    &li
        padding-top 5px

.comment
    display block
    width 20%
    margin-bottom 8px

.new-comment
    padding 10px

.comment-img
    position relative
    top 4px
    width 12px
    height 12px

.comment-date
    font-size 5px
    font-family consolas

.comment-content
    padding-left 18px
    font-size 8px
    font-family consolas

.page-content
    padding-top 0px
    margin-top 9px
    font-family "Liberation Mono"
    font-size 11px

.page-header
    border-top 9px dotted lightgray
    padding-bottom 0px
    padding-top 11px
    margin-top 0px

.page-footer
    border-top 9px dotted lightgray
    padding-bottom 0px
    padding-top 0px
    margin-top 0px

.marginbottom
    margin-bottom 5px

.list-key
    font-family "consolas"
    font-size 11px
    width 10%
    display inline
    text-align right
    border-right 2px dashed greenyellow
    padding-right 8px
    margin-right 1px
    float left

    &hover
        background-color rebeccapurple
        color whitesmoke
        cursor pointer

.list-item
    font-family "consolas"
    font-size 11px
    display inline
    padding-left 8px
    margin 0px
    width 90%

    &hover
        background-color #7dffae
        color black
        cursor pointer

.links
    padding-top 10px

.page-country
    padding-top 5px
    padding-bottom 5px

.ignited
    color red
    margin-bottom 0px
    padding-bottom 0px

a, a:visited
    text-decoration none
    color #117a8b

a:hover
    color red

.blinking-red
    animation blinkingRed 0.1s infinite

    @keyframes blinkingRed {
        0% {
            color red
        }
        50% {
            color transparent
        }
        100% {
            color red
        }
    }

.blinking-green
    animation blinkingGreen 1.3s infinite

.shortener
    margin 10px

    input
        margin-left 10px

    button
        padding 10px
        margin-top 10px

@keyframes blinkingGreen {
    0% {
        color green
    }
    50% {
        color #955ae7
    }
    100% {
        color greenyellow
    }
}

.blinking-orange
    animation blinkingOrange 1.8s infinite

@keyframes blinkingOrange {
    0% {
        color yellow
    }
    50% {
        color orange
    }
    100% {
        color red
    }
}
