body {
  font-family: "Lucida Console";
  font-size: 12px;
  border-left: 2px dashed #ffa500;
  padding-left: 10px;
  height: 100%;
  width: 95%;
}
.container {
  width: 100%;
  height: 100%;
  border-bottom: 1px dashed #f00;
  display: block;
}
.list-item-container {
  border-bottom: 1px dashed #add8e6;
  padding: 4px;
  display: box;
  min-height: 10px;
}
.list-key {
  font-family: "consolas";
  font-size: 11px;
  width: 5%;
  display: inline;
  text-align: right;
  border-right: 2px dashed #2e8b57;
  padding-right: 8px;
  margin-right: 1px;
  float: left;
}
.list-key:hover {
  background-color: #639;
  color: #f5f5f5;
  cursor: pointer;
}
.list-item {
  font-family: "consolas";
  font-size: 11px;
  display: inline;
  padding-left: 8px;
  margin: 0px;
  width: 90%;
}
.list-item:hover {
  background-color: #7dffae;
  color: #000;
  cursor: pointer;
}
.links {
  padding-top: 10px;
}
a,
a:visited {
  text-decoration: none;
  color: #117a8b;
}
a:hover {
  border-bottom: 2px dotted #6495ed;
  color: #f00;
}
.blinking-red {
  animation: blinkingRed 0.3s infinite;
}
@-moz-keyframes blinkingRed {
  0% {
    color: #f00;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #f00;
  }
}
@-webkit-keyframes blinkingRed {
  0% {
    color: #f00;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #f00;
  }
}
@-o-keyframes blinkingRed {
  0% {
    color: #f00;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #f00;
  }
}
@keyframes blinkingRed {
  0% {
    color: #f00;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #f00;
  }
}
.blinking-green {
  animation: blinkingGreen 1.3s infinite;
}
.blinking-orange {
  animation: blinkingOrange 1.8s infinite;
}
@-moz-keyframes blinkingGreen {
  0% {
    color: #008000;
  }
  50% {
    color: #955ae7;
  }
  100% {
    color: #adff2f;
  }
}
@-webkit-keyframes blinkingGreen {
  0% {
    color: #008000;
  }
  50% {
    color: #955ae7;
  }
  100% {
    color: #adff2f;
  }
}
@-o-keyframes blinkingGreen {
  0% {
    color: #008000;
  }
  50% {
    color: #955ae7;
  }
  100% {
    color: #adff2f;
  }
}
@keyframes blinkingGreen {
  0% {
    color: #008000;
  }
  50% {
    color: #955ae7;
  }
  100% {
    color: #adff2f;
  }
}
@-moz-keyframes blinkingOrange {
  0% {
    color: #ff0;
  }
  50% {
    color: #ffa500;
  }
  100% {
    color: #f00;
  }
}
@-webkit-keyframes blinkingOrange {
  0% {
    color: #ff0;
  }
  50% {
    color: #ffa500;
  }
  100% {
    color: #f00;
  }
}
@-o-keyframes blinkingOrange {
  0% {
    color: #ff0;
  }
  50% {
    color: #ffa500;
  }
  100% {
    color: #f00;
  }
}
@keyframes blinkingOrange {
  0% {
    color: #ff0;
  }
  50% {
    color: #ffa500;
  }
  100% {
    color: #f00;
  }
}
