body {
  font-family: EuclidSquare;
  font-size: 12px;
  padding-left: 0px;
  height: 100%;
  width: 98%;

}

.bg {
  width: 100%;
  height: 100%;
  background: white;
  opacity: .03;
  z-index: -9999;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/images/ascii2.png);
}

.cpu-item {
  font-family: "Consolas";
}

.bg-img {
  display: block;
  width: 100%;
  background-image: url(/images/Untitledbg.gif);
  margin: 0px;
  padding-bottom: 4px;
  height: 120px;
}

.interesting-block-row {
  display: block;
  padding: 1px;
  margin: 10px;
}

.header-lower-text {
  font-size: 18px;
}

.header-text {
  padding-left: 20px;
  margin-left: 8px;
  margin-top: 20px;
  padding-bottom: 15px;
  box-shadow: 5px -7px red;
  color: white;
  font-family: "Lucida Sans Unicode";
  float: left;
  font-size: 24px;
  font-variant: small-caps;
  background-color: black;
  width: 836.510px;
  padding-right: 33px;
}

.cpu-item:hover {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  color: #197d44;
}

.content-container {
  font-family: EuclidSquare !important;
  line-height: 20px;
  box-shadow: 0 0px 0px #2abaff, 0 0px 32px 0 #ffefa2;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  background-color: #fefff5;
}

#flagleft {
  display: inline-block;
  position: absolute;
  width: 84px;
  height: 100px;
  left: 10px;
  top: -16px;
  float: left;
  background-image: url("/images/11.png");
  background-position-x: 82px;
  background-size: contain;
  image-rendering: pixelated;
}

.ip-info {
  font-family: "consolas" !important;
  font-size: 12px !important;
}

.destroy-link {
  border-bottom: 2px dashed #daa520;
}

#flagright {
  display: flex;
  top: -16px;
  width: 83px;
  height: 140px;
  position: absolute;
  left: 96%;
  float: left;
  background-image: url("/images/usflagged.jpg");
  background-position-x: 2px;
  background-size: contain;
  border-top: 11px dashed #00bfff;
  object-fit: cover;
  image-rendering: pixelated;
}

#app {
  border-left: 9px dashed #0ff;
  padding-left: 9px;
  animation: falling-red 27.3s infinite;
}

button,
input,
textarea {
  box-shadow: 0 0px 23px 0 #ffd023, 0 0px 0px 0 cornsilk;
  font-family: lucida console;
  background-color: #fff;
  cursor: pointer;
  border: 2px dashed #ff8c00;
}

button:hover,
input:hover,
textarea:hover {
  box-shadow: 0px 1px 15px #a1ff25, 0 0px 0px 0 cornsilk;
  background-color: #fff9be !important;
  border: 2px dashed #f00 !important;
}

.message {
  color: #32d175;
  font-family: "lucida console";
  border-bottom: 3px #00ced1;
  font-size: 15px;
  padding-top: 2px;
  margin-bottom: 8px;
  padding-left: 5px;
  padding-bottom: 5px;
  box-shadow: 11px 1px 5px #a1ff25, 0 2px 0px 0 #fff382;
}

.interesting-block {
  width: 75%;
  line-height: 18px;
  padding-bottom: 4px;
}

.content-keys {
  font-family: "lucida console";
  color: #2e8b57;
  padding-left: 15px;
  font-variant: small-caps;
  font-size: 10px;
}

.crysa-class {
  height: 104px;
  opacity: 0.9;
  position: absolute;
  top: -24px;
  left: 1150px;
  image-rendering: pixelated;
}

.commit-button {
  background-image: url("/images/_n.jpg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: cover;
  color: #fff;
  transition: background 11s;
  background-blend-mode: difference;
  width: 200px;
  height: 30px;
}

.url-input {
  width: 300px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.ip-info-page {
  font-family: consolas;
  font-size: 14px;
  text-decoration: underline;
  padding-bottom: 10px;
  padding-right: 20px;
}

.page-info-item {
  box-shadow: 0px 1px 1px #a1ff25, 0 10px 111px 10px #ffef5c;
  margin-bottom: 15px;
  padding: 10px;
  padding-right: 10px;
}

.page-info {
  padding-bottom: 4px;
}

.protip-mine {
  font-family: consolas;
  font-size: 12px;
  line-height: 17px;
  border: 19px dashed #f5fffa;
  background-color: #ffdab9;
}

.post-tools, .post-tools a {
  padding-left: 1px;
  padding-top: 1px;
  color: grey !important;
}

.post-tools a:hover {
  color: blue !important;
}

.protip-sh-main {
  box-shadow: 10px 10px 27px 0 #adff2f, 0 28px 22px 0 #aedcc1 !important;
}

.protip-on-main {
  font-family: "Liberation Mono";
  font-size: 12px;
  line-height: 20px;
  background-color: #ffff8b;
  padding: 8px;
  margin: 0px;
  box-shadow: 0px 0px 0px 0px #ffe4d1, 0px 0px 1px 0px #ff0000 !important;
}

.protip-ip-info {
  font-family: "lucida console";
  font-size: 10px;
  line-height: 18px;
  background-color: #b0ffd7;
  padding: 4px;
  margin: 18px;
  box-shadow: 10px 10px 27px 0 #adff2f, 0 28px 22px 0 #aedcc1;
  border-top: 14px dashed #ff8c00;
  border-bottom: 14px dashed #ff8c00;
}

.new-stamp {
  position: relative;
  left: 41px;
  top: -1px;
}

.iplink {
  font-size: 12px;
  padding: 3px;
  text-align: right;
  font-family: lucida console;
  width: 100%;
  display: flow-root;
  box-shadow: 0 2px 8px #add8e6, 0 1px 11px 0 #adff2f;
}

.iplink:hover {
  box-shadow: 1px 3px 10px cornsilk, 0 0px 30px 0 #34daff;
}

blockquote {
  border-left: 3px solid #8a2be2;
  margin-left: 0px;
  padding-left: 3px;
}

ul {
  list-style-type: disc;
}

.proxy-table {
  margin: 10px;
  padding: 10px;
}

.proxy-header th {
  padding: 0px;
  margin: 0px;
  padding-left: 0px;
  margin-left: 0px;
  text-align: left;
  border-bottom: 3px solid #0ff;
}

.proxy-item td {
  padding: 8px;
  margin: 3px;
}

.proxy-type-http {
  color: #639;
}

.proxy-type-https {
  color: #e83e8c;
}

.proxy-type-socks4 {
  color: #146838;
}

.proxy-type-socks4a {
  color: #955ae7;
}

.proxy-type-socks5 {
  color: #117a8b;
}

.proxy-type-smtp-relay {
  color: #899aa9;
}

.section-h3 {
  border-bottom: 1px solid #ebf8ff;
  padding-bottom: 11px;
  display: border-block;
  font-size: 16px;
  width: 20%;
  font-variant: small-caps;
  clear: both;
}

.container {
  width: 100%;
  min-height: 80%;
  display: block;
}

.list-item-container {
  border-bottom: 1px dashed #add8e6;
  padding: 4px;
  display: box;
  min-height: 10px;
}

.marginleft {
  margin: 12px;
}

.smallcaps {
  font-variant: small-caps;
  font-family: consolas;
  font-size: 17px;
}

.super-small {
  font-size: 4px;
  font-family: "Lucida Console";
  font-variant: small-caps;
}

.protip-container {
  box-shadow: 11px 1px lightcyan, 10 1px 1px 10 #34daff !important;
}

.topheadmargin {
  margin-top: 10px;
  padding-top: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
}


.interestlink {
  font-size: 12px;
  padding: 3px;
  font-family: lucida console;
  box-shadow: 1px 1px 0px #ffff00, 1px 1px 1px 0px #6f42c1 !important;
}

.interestlink:hover {
  box-shadow: 1px 1px 1px lightcyan, 0 0px 1px 0 #34daff !important;
}

.cart-button-submit {
  padding: 10px;
  display: inline-block;
  padding-bottom: 5px;
}

.cart-button-submit:hover {
  color: #f00;
}

.cart-item-name {
  display: inline-block;
}

.cart-item-cost {
  width: 100%;
  text-align: right;
  display: inline-block;
}

.cart-total {
  padding-left: 7px;
  font-family: "lucida console";
  font-size: 20px;
}

.cart-item {
  width: 400px;
}

.select-doc-future {
  padding-left: 0px;
  margin-left: 15px;
}

.select-doc-future li {
  margin-top: 15px;
  font-family: "consolas";
  font-size: 12px;
  padding-left: 0px;
  margin-left: 7px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.select-doc-future li:hover {
  color: #0ff;
}

.tib-war-header {
  font-variant: small-caps;
  font-size: 16px;
  display: inline;
}

.comment {
  display: flow-root;
  margin-bottom: 8px;
  padding-bottom: 5px;
  box-shadow: 18px 3px 0px #24b8ff, 0 0px 5px 0 #b0ffd7;
}

.new-comment {
  padding: 10px;
}

.text-comment {
  width: 25%;
  height: 100px;
  clear: both;
  color: #000;
  font-family: lucida console;
  opacity: 1;
}

.comment-img {
  position: relative;
  top: 4px;
  width: 12px;
  height: 12px;
}

.comment-date {
  font-size: 12px;
  font-family: consolas;
}

.comment-content {
  padding-left: 18px;
  font-size: 12px;
  font-family: consolas;
}

.page-content {
  padding-top: 0px;
  margin-top: 9px;
}

.page-header {
  border-top: 9px dotted #d3d3d3;
  padding-bottom: 0px;
  padding-top: 11px;
  margin-top: 0px;
}

.donate-link {
  color: #f00;
  box-shadow: 0 10px 1px 0 #fffee9, 0 11px 1px 0 #f00;
  font-variant: small-caps;
}

.donate-link:hover {
  color: #adadff;
  box-shadow: 0 10px 11px 0 #fffee9, 0 11px 11px 0 #0ff;
}

.construct-logo {
  padding-top: 10px;
}

.construct-logo:hover {
  box-shadow: 0 10px 12px 0 #0ff, 0 11px 111px 0 #20b2aa;
  background-color: #b0ffd7;
  padding-right: 5px;
}

.page-footer {
  border-top: 9px dotted #d3d3d3;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

.donate-area {
  padding: 20px;
  margin: 31px;
  line-height: 30px;
  border-bottom: 1px solid #f00;
  box-shadow: 0 10px 12px 0 #b0ffd7, 0 11px 111px 0 #2779bd;
}

.log-record {
  font-family: consolas;
  font-size: 8px;
  border-bottom: 4px dashed #ffa500;
  margin-bottom: 10px;
}

.edit-label {
  box-shadow: 0 120px 1122px 0 #00fa9a, 0 1px 111px 0 #00fa9a;
  margin-bottom: 20px;
  padding-bottom: 10px;
  display: table-cell;
}

.support-box {
  font-family: Consolas;
  padding: 15px 0px 15px 0px;
}

.car {
  position: absolute;
  top: 25%;
  right: 3%;
  opacity: 0.15;
  box-shadow: 0 10px 1122px 0 #ff5151, 0 111px 111px 0 #ff0;
}

.log-code {
  font-family: consolas;
  display: inline-flex;
  width: 22px;
}

.log-ip {
  font-family: consolas;
  display: block;
  color: #20b2aa;
}

.log-info {
  font-family: consolas;
  display: table;
  width: 100%;
  word-break: keep-all;
  white-space: pre-wrap;
}

.log-date {
  font-family: consolas;
  display: inline-flex;
  width: 134px;
  word-break: break-all;
  color: #789;
}

.log-method {
  font-family: consolas;
  display: inline-flex;
  width: 24px;
  color: #e83e8c;
}

.gay-list-table {
  padding-top: 22px;
  padding-bottom: 22px;
}

.gay-list-table td {
  border-right: 1px solid #f00;
  border-bottom: 1px solid #d3d3d3;
  padding: 10px;
}

.gay-list-table th {
  padding: 15px;
  border-bottom: 1px dashed #00bfff;
}

.social-twitter {
  margin-top: 15px;
}

.social-facebook {
  position: relative !important;
  top: -3px;
}

.fb_iframe_widget {
  position: relative;
  display: inline;
}

.social-buttons {
  padding-top: 10px;
  padding-bottom: 10px;
}

.cart-item {
  box-shadow: 8px 4px 16px #f5f5f5, 1px 1px 44px 11px #fff9be;
  border-bottom: 1px dashed #8a2be2;
  margin: 10px;
  color: #125d32;
  padding: 4px;
}

.cart-item:hover {
  color: #f00;
  cursor: pointer;
  box-shadow: 3px 2px 16px #f5f5f5, 1px 1px 10px 10px #cef4de;
}

.protip-cart-item {
  margin: 0px;
  padding: 0px;
  box-shadow: 0 1px 12px 0 #b9efd0, 0 1px 11px 0 #b9efd0;
  background-color: #b9efd0;
  font-family: consolas;
  font-size: 20px;
}

.log-ua {
  font-family: consolas;
  display: table-footer-group;
  width: 100px;
  color: #87cefa;
}

.log-url {
  font-family: consolas;
  display: flex;
  color: #9acd32;
}

.marginbottom {
  margin-bottom: 5px;
}

.list-key {
  font-family: "consolas";
  font-size: 11px;
  width: 10%;
  display: inline;
  text-align: right;
  border-right: 2px dashed #adff2f;
  padding-right: 8px;
  margin-right: 1px;
  float: left;
  box-shadow: 14px 24px 6px #f5f5f5, 1px 0px 0px 0px cornsilk;
}

.list-key:hover {
  background-color: #7cfc00;
  color: coral;
  cursor: pointer;
}

.list-item {
  font-family: "consolas";
  font-size: 11px;
  display: inline;
  padding-left: 2px;
  margin: 10px;
  width: 90%;
  box-shadow: 0px 1px 6px #a1ff25, 0 0px 0px 0 #ff0081;
}

.list-item:hover {
  background-color: coral;
  color: #fff;
  cursor: pointer;
}

.links {
  padding-top: 10px;
}

.page-country {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ignited {
  color: #20c997;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.wide-button {
  padding: 2px;
  margin: 0px;
  margin-top: 4px !important;
  margin-left: 10px;
}

a,
a:visited {
  text-decoration: none;
  color: #117a8b;
}

a:hover {
  color: #f00;
}

.blinking-red {
  animation: blinkingRed 0.1s infinite;
}

@-moz-keyframes blinkingRed {
  0% {
    color: #f00;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #f00;
  }
}

@-webkit-keyframes blinkingRed {
  0% {
    color: #f00;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #f00;
  }
}

@-o-keyframes blinkingRed {
  0% {
    color: #f00;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #f00;
  }
}

@keyframes blinkingRed {
  0% {
    color: #f00;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #f00;
  }
}

.blinking-green {
  animation: blinkingGreen 1.3s infinite;
}

.shortener {
  margin: 10px;
}

.shortener input {
  margin-left: 10px;
}

.shortener button {
  padding: 3px;
  margin-top: 4px;
}

@font-face {
  font-family: EuclidSquare;
  font-style: normal;
  font-weight: 400;
  src: local('EuclidSquare'), url("/css/EuclidSquare-Regular-WebS.woff") format('woff');
}

.blinking-orange {
  animation: blinkingOrange 1.8s infinite;
}

@-moz-keyframes blinkingGreen {
  0% {
    color: #008000;
  }
  50% {
    color: #955ae7;
  }
  100% {
    color: #adff2f;
  }
}

@-webkit-keyframes blinkingGreen {
  0% {
    color: #008000;
  }
  50% {
    color: #955ae7;
  }
  100% {
    color: #adff2f;
  }
}

@-o-keyframes blinkingGreen {
  0% {
    color: #008000;
  }
  50% {
    color: #955ae7;
  }
  100% {
    color: #adff2f;
  }
}

@keyframes blinkingGreen {
  0% {
    color: #008000;
  }
  50% {
    color: #955ae7;
  }
  100% {
    color: #adff2f;
  }
}

@-moz-keyframes blinkingOrange {
  0% {
    color: #ff0;
  }
  50% {
    color: #ffa500;
  }
  100% {
    color: #f00;
  }
}

@-webkit-keyframes blinkingOrange {
  0% {
    color: #ff0;
  }
  50% {
    color: #ffa500;
  }
  100% {
    color: #f00;
  }
}

@-o-keyframes blinkingOrange {
  0% {
    color: #ff0;
  }
  50% {
    color: #ffa500;
  }
  100% {
    color: #f00;
  }
}

@keyframes blinkingOrange {
  0% {
    color: #ff0;
  }
  50% {
    color: #ffa500;
  }
  100% {
    color: #f00;
  }
}

@-moz-keyframes falling-red {
  20% {
    border-left: 9px dashed #0ff;
  }
  60% {
    border-left: 9px dashed #a1ff25;
  }
  80% {
    border-left: 9px dashed #f00;
  }
}

@-webkit-keyframes falling-red {
  20% {
    border-left: 9px dashed #0ff;
  }
  60% {
    border-left: 9px dashed #a1ff25;
  }
  80% {
    border-left: 9px dashed #f00;
  }
}

@-o-keyframes falling-red {
  20% {
    border-left: 9px dashed #0ff;
  }
  60% {
    border-left: 9px dashed #a1ff25;
  }
  80% {
    border-left: 9px dashed #f00;
  }
}

@keyframes falling-red {
  20% {
    border-left: 9px dashed #0ff;
  }
  60% {
    border-left: 9px dashed #a1ff25;
  }
  80% {
    border-left: 9px dashed #f00;
  }
}
